<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.dao.usercourse.mapper.UserCourseMapper">
  <resultMap id="BaseResultMap" type="com.tedu.domain.usercourse.UserCourse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="guanzhu" jdbcType="BIT" property="guanzhu" />
    <result column="is_purchased" jdbcType="BIT" property="isPurchased" />
    <result column="purchased_date" jdbcType="DATE" property="purchasedDate" />
    <result column="course_album_id" jdbcType="INTEGER" property="courseAlbumId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, course_id, guanzhu, is_purchased, purchased_date, course_album_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tedu_user_course
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="checkIsBuyed" parameterType="com.tedu.domain.usercourse.UserCourse" resultMap="BaseResultMap">
    select count(1)
    from tedu_user_course
    <where>
     <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="courseId != null">
        and course_id = #{courseId,jdbcType=INTEGER}
      </if>
      <if test="guanzhu != null">
        and guanzhu = #{guanzhu,jdbcType=BIT}
      </if>
      <if test="isPurchased != null">
        and is_purchased = #{isPurchased,jdbcType=BIT}
      </if>
      <if test="purchasedDate != null">
        and purchased_date = #{purchasedDate,jdbcType=DATE}
      </if>
      <if test="courseAlbumId != null">
        and course_album_id = #{courseAlbumId,jdbcType=INTEGER}
      </if>
    </where> 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tedu_user_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tedu.domain.usercourse.UserCourse">
    insert into tedu_user_course (id, user_id, course_id, 
      guanzhu, is_purchased, purchased_date, 
      course_album_id)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, 
      #{guanzhu,jdbcType=BIT}, #{isPurchased,jdbcType=BIT}, #{purchasedDate,jdbcType=DATE}, 
      #{courseAlbumId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tedu.domain.usercourse.UserCourse">
    insert into tedu_user_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="guanzhu != null">
        guanzhu,
      </if>
      <if test="isPurchased != null">
        is_purchased,
      </if>
      <if test="purchasedDate != null">
        purchased_date,
      </if>
      <if test="courseAlbumId != null">
        course_album_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="guanzhu != null">
        #{guanzhu,jdbcType=BIT},
      </if>
      <if test="isPurchased != null">
        #{isPurchased,jdbcType=BIT},
      </if>
      <if test="purchasedDate != null">
        #{purchasedDate,jdbcType=DATE},
      </if>
      <if test="courseAlbumId != null">
        #{courseAlbumId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tedu.domain.usercourse.UserCourse">
    update tedu_user_course
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="guanzhu != null">
        guanzhu = #{guanzhu,jdbcType=BIT},
      </if>
      <if test="isPurchased != null">
        is_purchased = #{isPurchased,jdbcType=BIT},
      </if>
      <if test="purchasedDate != null">
        purchased_date = #{purchasedDate,jdbcType=DATE},
      </if>
      <if test="courseAlbumId != null">
        course_album_id = #{courseAlbumId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tedu.domain.usercourse.UserCourse">
    update tedu_user_course
    set user_id = #{userId,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER},
      guanzhu = #{guanzhu,jdbcType=BIT},
      is_purchased = #{isPurchased,jdbcType=BIT},
      purchased_date = #{purchasedDate,jdbcType=DATE},
      course_album_id = #{courseAlbumId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>