<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.dao.tixiansill.mapper.TixianSillMapper">
  <resultMap id="BaseResultMap" type="com.tedu.domain.tixiansill.TixianSill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="coin_type" jdbcType="VARCHAR" property="coinType" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="sill" jdbcType="VARCHAR" property="sill" />
  </resultMap>
  <sql id="Base_Column_List">
    id, coin_type, user_id, date, sill
  </sql>
  <select id="selectByCoinType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tedu_tixian_sill
    where coin_type = #{coinType} order by date limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tedu_tixian_sill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tedu.domain.tixiansill.TixianSill">
    insert into tedu_tixian_sill (id, coin_type, user_id, 
      date, sill)
    values (#{id,jdbcType=INTEGER}, #{coinType,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{date,jdbcType=TIMESTAMP}, #{sill,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tedu.domain.tixiansill.TixianSill">
    insert into tedu_tixian_sill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="coinType != null">
        coin_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="sill != null">
        sill,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coinType != null">
        #{coinType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="sill != null">
        #{sill,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tedu.domain.tixiansill.TixianSill">
    update tedu_tixian_sill
    <set>
      <if test="coinType != null">
        coin_type = #{coinType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="sill != null">
        sill = #{sill,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tedu.domain.tixiansill.TixianSill">
    update tedu_tixian_sill
    set coin_type = #{coinType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      sill = #{sill,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>