<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.dao.userAlbum.mapper.UserAlbumMapper">
  <resultMap id="BaseResultMap" type="com.tedu.domain.userAlbum.UserAlbum">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="album_id" jdbcType="INTEGER" property="albumId" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="guanzhu" jdbcType="BIT" property="guanzhu" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, album_id, date, guanzhu
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tedu_user_album
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByUserIdAndAlbumId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tedu_user_album
    where user_id = #{userId} and album_id =#{albumId}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tedu_user_album
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tedu.domain.userAlbum.UserAlbum">
    insert into tedu_user_album (id, user_id, album_id, 
      date, guanzhu)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{albumId,jdbcType=INTEGER}, 
      #{date,jdbcType=TIMESTAMP}, #{guanzhu,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.tedu.domain.userAlbum.UserAlbum">
    insert into tedu_user_album
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="albumId != null">
        album_id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="guanzhu != null">
        guanzhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="albumId != null">
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="guanzhu != null">
        #{guanzhu,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tedu.domain.userAlbum.UserAlbum">
    update tedu_user_album
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="albumId != null">
        album_id = #{albumId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="guanzhu != null">
        guanzhu = #{guanzhu,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tedu.domain.userAlbum.UserAlbum">
    update tedu_user_album
    set user_id = #{userId,jdbcType=INTEGER},
      album_id = #{albumId,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      guanzhu = #{guanzhu,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>